@charset "UTF-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
Pequenas telas: ate 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px

*/

@media print { /* impressao */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg);/*Desnecessario*/
        
    }
    main {
        padding-bottom: 20px;
        width: 90vw;
        border: 2px solid black;
    }
    main p {
        padding: 20px;
    }
    main::after{
        content: 'Essa impressao foi feita atraves do site www.cursoemvideo.com.br';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    
    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width:992px) { /* tablet */
    

    
}

@media screen and (min-width: 992px) and (max-width:1200px) { /* desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width:1200px) { /* grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}